.hero {
    background: url(/images/portada.jpg) center center;
    background-size: cover;
    color: white;
    text-align: center;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*http://i.imgur.com/CBKF6lk.png*/
figure {
    height: 0;
    margin: 0 0 24px 0;
    padding-bottom: 45%; /* 16:9 */
    position: relative;
    width: 100%;
}

p {
    color: red;
    font-family: sans-serif;
    font-size: 4em;
}