.navbar{

    margin-bottom: 0;

}

.jumbotron{

    background-image: url(/images/banner.png);
    background-size: cover;
    height: 200%;
    padding-bottom: 10%;
    margin-bottom: 0;


}

#p-titulo{
    color: #0f0f0f;
    padding-top: 20%;
    padding-bottom: 0;


}

.down {
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #242626;
    margin: -1px auto -20px;
    position: relative;
    z-index: 9;
}

#flexible{
    background: url('/images/legos_cropped.jpg') no-repeat center center / cover transparent;
    background-color: rgb(0,0,255); opacity: 0.5;



}

.experience-section{
    width: 100%;
    position: relative;
    margin-bottom: 0;

}

#container-intro{
    position: absolute;
    margin-top: 100px;

}

#text-intro{
    background: rgba(91, 194, 54,1.3);
    opacity: 0.5;
    color: #0f0f0f;

}

#text-intro p{

    color: #ac2925;
    font-size: 120%;
}

